In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(np.arange(0,10).reshape(2,5),index=['Row-1','Row-2'],columns=['Col-1','Col-2','Col-3','Col-4','Col-5'])
df

       Col-1  Col-2  Col-3  Col-4  Col-5
Row-1      0      1      2      3      4
Row-2      5      6      7      8      9

In [7]:
df.loc["Row-1"]

Col-1    0
Col-2    1
Col-3    2
Col-4    3
Col-5    4
Name: Row-1, dtype: int32

In [14]:
#index of row-1
df.iloc[0]

Col-1    0
Col-2    1
Col-3    2
Col-4    3
Col-5    4
Name: Row-1, dtype: int32

In [11]:
#converting into csv
df.to_csv("Sample.csv")

In [17]:
#converting into array
df.iloc[:,:].values

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [18]:
df.isna()

       Col-1  Col-2  Col-3  Col-4  Col-5
Row-1  False  False  False  False  False
Row-2  False  False  False  False  False

In [22]:
df.sort_values(by=['Col-1'],ascending=False)

       Col-1  Col-2  Col-3  Col-4  Col-5
Row-2      5      6      7      8      9
Row-1      0      1      2      3      4

In [23]:
df.sum()

Col-1     5
Col-2     7
Col-3     9
Col-4    11
Col-5    13
dtype: int64

In [25]:
data=pd.read_csv('Sample.csv')
data

  Unnamed: 0  Col-1  Col-2  Col-3  Col-4  Col-5
0      Row-1      0      1      2      3      4
1      Row-2      5      6      7      8      9

In [26]:
data.describe

<bound method NDFrame.describe of   Unnamed: 0  Col-1  Col-2  Col-3  Col-4  Col-5
0      Row-1      0      1      2      3      4
1      Row-2      5      6      7      8      9>

In [27]:
kaggle competitions download -c mercedes-benz-greener-manufacturing

SyntaxError: invalid syntax (<ipython-input-27-7dad419b5d8c>, line 1)